include README.rst
include MANIFEST.in
include scrapydart/VERSION
include scrapydart/default_scrapyd.conf
recursive-include scrapydart/tests *.egg
recursive-include scrapydart/scripts *.py
recursive-include scrapydart/template *
prune docs/_build
